#graph_container {
  display: table;
}
#row {
  display: table-row;
}
#gene_div{
  display: table-cell;
  //background:#FEE  top right repeat-y;
  max-width: 50%;
}
#microbe_div{
  display: table-cell;
  //background:#FEE top right repeat-y;
  max-width: 50%;
}
#protein_div{
  display: table-cell;
  //background:#ffbc33 top right repeat-y;
  max-width:50%;
}
#compound_div{
  display: table-cell;
  //background:#fff033 top right repeat-y;
}
#ontology_div{
  display: table-cell;
  //background:#7dff33 top right repeat-y;
}
#table_div{
  padding-left: 10;
}
#navcontainer {
  max-width:750px;
  margin:0 auto;
  //background:#335eff top right repeat-y;
}
ul#navlist {
  font-family: "Arial";
  font-size: 14px;
  text-align: center
}
ul#navlist li {
  display:inline;
  padding: 20;
}
#j_container{
  display: table;
}
#jrow {
  display: table-row;
}
#jtable_div{
  padding-left: 10;
  max-width:85%
}
#jbar_div {
  display: table-cell;
  max-width:50%;
}
#jpie_div{
  display: table-cell;
}

